<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>


<div th:replace="fragments/header :: body"></div>

<div class="container my-5 content">
    <h3 class="fw-bold mb-4">Добавить симптом</h3>

    <form th:action="@{/symptoms}" th:object="${symptom}" method="post"
          enctype="multipart/form-data" class="w-100">

        <div class="mb-3">
            <label class="form-label fw-semibold">Название <span class="text-danger">*</span></label>
            <input type="text" class="form-control" th:field="*{name}" required>
        </div>

        <button type="submit" class="btn btn-save px-4">Создать</button>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
