<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>


<div th:replace="fragments/header :: body"></div>


<div class="container my-5 content">
    <h3 class="fw-bold mb-4">У симптома <span th:text="${symptom.name}"></span> найдено <span th:text="${size}"></span>
        связных болезней</h3>
    <div th:each="disease : ${diseasesPage}"
         class="card p-4 mb-3 shadow-sm d-flex flex-row justify-content-between align-items-center">

        <h5 class="fw-bold mb-0" th:text="${disease.name}">Название болезни</h5>

        <div class="d-flex gap-2">
            <a th:href="@{/diseases/{id}/edit(id=${disease.id})}"
               class="btn btn-edit px-4">Редактировать</a>

            <form th:action="@{/diseases/{id}/delete(id=${disease.id})}" method="post" class="d-inline">
                <button type="submit" class="btn btn-delete px-4">Удалить</button>
            </form>
            <a th:href="@{/pharmacies/{id}/medications(id=${disease.id})}"
               class="btn btn-leak px-4">Чем лечить</a>
        </div>
    </div>

    <nav th:if="${diseasesPage != null and diseasesPage.totalPages > 1}" aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-4">
            <li th:classappend="${diseasesPage.first} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/diseases(page=${diseasesPage.number - 1}, size=${diseasesPage.size})}">‹</a>
            </li>

            <li th:each="i : ${#numbers.sequence(0, diseasesPage.totalPages - 1)}"
                th:classappend="${i == diseasesPage.number} ? 'active'">
                <a class="page-link" th:text="${i + 1}"
                   th:href="@{/diseases(page=${i}, size=${diseasesPage.size})}"></a>
            </li>

            <li th:classappend="${diseasesPage.last} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/diseases(page=${diseasesPage.number + 1}, size=${diseasesPage.size})}">›</a>
            </li>
        </ul>
    </nav>
</div>


<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
