body {
    background-color: #f9f9f9;
    font-family: "Segoe UI", sans-serif;
    color: #333;
}

.navbar {
    border-bottom: 1px solid #eaeaea;
}

.navbar-brand {
    font-size: 1.3rem;
}

.nav-link {
    font-weight: 500;
    color: #333 !important;
}

.nav-link:hover {
    color: #0d6efd !important;
}

.card {
    border: none;
    border-radius: 12px;
}

.footer {
    border-top: 1px solid #004aad;
}

.btn-success {
    background-color: #00c38d;
    border: none;
}

.btn-success:hover {
    background-color: #00a879;
}

.btn-primary {
    background: linear-gradient(145deg, #002b80, #004aad);
    border: none;
    border-radius: 25px;
}

.btn-primary:hover {
    background: linear-gradient(145deg, #001f5c, #003580);
}

/* === Для фото === */
.position-relative {
    display: inline-block;
}

.btn-remove-img {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #dc3545;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 1;
    padding: 0;
}