<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>


<div th:replace="fragments/header :: body"></div>

<div class="container my-5 content">
    <h3 class="fw-bold mb-4">Добавить покупку</h3>

    <form th:action="@{/pharmacies}" th:object="${pharmacy}" method="post" enctype="multipart/form-data" class="w-75">

        <div class="mb-3">
            <label class="form-label">Лекарство <span class="text-danger">*</span></label>
            <select name="medicationId" class="form-control" required>
                <option value="" disabled selected>Выберите лекарство</option>
                <option th:each="m : ${medications}"
                        th:value="${m.id}"
                        th:text="${m.name}"
                        th:selected="${pharmacy.medication.id != null and pharmacy.medication.id == m.id}"></option>
            </select>
            <div class="text-danger" th:if="${#fields.hasErrors('medication')}" th:errors="*{medication}"></div>
        </div>

        <div class="mb-3">
            <label class="form-label fw-semibold">Количество, шт <span class="text-danger">*</span></label>
            <input type="number" class="form-control" th:field="*{quantity}">
            <div class="text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>
        </div>

        <div class="mb-3">
            <label class="form-label fw-semibold">Дата покупки<span class="text-danger">*</span></label>
            <input type="date" class="form-control" th:field="*{purchaseDate}">
            <div class="text-danger" th:if="${#fields.hasErrors('purchaseDate')}" th:errors="*{purchaseDate}"></div>
        </div>

        <div class="mb-3">
            <label class="form-label fw-semibold">Срок годности до <span class="text-danger">*</span></label>
            <input type="date" class="form-control" th:field="*{expirationDate}">
            <div class="text-danger" th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}"></div>
        </div>

        <button type="submit" class="btn btn-save px-4">Создать</button>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>